@model IEnumerable<LibraryMangement.Models.Booktbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<br />
<h4>Book list</h4>
<hr />
<br />

<link rel="stylesheet" , href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" , href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<form class="d-flex">
    <input class="form-control me-sm-2" type="text" placeholder="Search" name="search" value="@ViewBag.search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
</form>
<table width="100%" class="table-sm table-hover table-bordered" id="example">
    <tr>
        <th class="bg-info text-light">
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCopies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Copyright)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copyright)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Request", "Transaction", new { bookId = item.BookId })

            </td>
        </tr>
    }
</table>
<br />
@if (Session["requestMsg"] != null)
{
    <script type="text/javascript">
            @*Popups the alert if the session data is there*@
            window.onload = function () {
                alert("@Session["requestMsg"]");
                window.location.href = "/Transaction/RequestAlert";
            };
    </script>

}






