@model IEnumerable<LibraryMangement.Models.Usertbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<h2>Index</h2>*@
<br />
<h4>User list</h4>
<hr />
<div class="btn btn-sm btn-primary" data-toggle='tooltip' title='Add user'>
    <i class="far fa-plus-square"></i>
    @Html.ActionLink("Add", "Create", null, new { @class = "", style = "text-decoration:none; color: white" })
</div>
<br />
<br />

@*External stylesheet for data table plugins*@
<link rel="stylesheet" , href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" , href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<table width="100%" class="table table-hover table-bordered" id="example">
    <thead class="bg-success text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAdminNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPass)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAdminNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPass)
            </td>
            <td>
                <div class="btn btn-group-sm">
                    <div class="btn btn-dark btn-sm iconop">
                        <i class="fas fa-edit"></i>
                        @Html.ActionLink("Edit", "Edit", null, new { id = item.UserId }, new { @class = "", style = "text-decoration:none; color: White " })
                    </div>
                    <div class="btn btn-sm btn-warning">
                        <i class="fas fa-info-circle iconop"></i>
                        @Html.ActionLink("Details", "Details", null, new { id = item.UserId }, new { @class = "", style = "text-decoration:none; color: white" })
                    </div>
                    <div class="btn btn-sm btn-danger">
                        <i class="fas fa-trash iconop"></i>
                        @Html.ActionLink("Delete", "Delete", null, new { id = item.UserId }, new { @class = "", style = "text-decoration:none; color: white" })
                    </div>
                </div>
        </tr>
    }
</table>
<br />

@if (Session["operationMsg"] != null)
{
    <script type="text/javascript">
            @*Popups the alert if the session data is there*@
            window.onload = function () {
                alert("@Session["operationMsg"]");
                window.location.href = "/Usertbl/OperationAlert";
            };
    </script>

}
